.submit-button {
  float: right;
}
form {
  float: right;
}
.ts-form .ts-field[type=number] {
    width: 250px;
}
.result-class {
  color: red;
  margin-top: 15px;
  font-size: 20px;
}
.header-logo {
  background-image: url(icon.png);
  background-repeat: no-repeat;
  background-size: auto 42px;
  display: block;
  height: 42px;
  width: 99px;
}


